# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Cmake files
qtserver/CMakeLists.txt.user
qtclient/CMakeLists.txt.user

#local build directory
build-qtserver-Desktop_Qt_6_0_3_GCC_64bit-Debug/
../build-qtserver-Desktop_Qt_6_0_0_MSVC2019_64bit-Debug
build-qtserver-Desktop_Qt_6_0_0_MSVC2019_64bit-Debug

build-qtserver-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug

